/////////////////////////////////////////////////////////////////////////////
//                                                                         //
// grid.rc                                                                 //
//                                                                         //
/////////////////////////////////////////////////////////////////////////////
//                                                                         //
// Grid control library - Version 1.40 - 22 oct 1995                       //
// TGrid - Copyright © 1994,1995 H. Picot, All Rights Reserved.            //
//                                                                         //
/////////////////////////////////////////////////////////////////////////////

#define VERSIONINFO_1	1
#include "grid.rh"

HREZSIZE CURSOR 
{
 '00 00 02 00 01 00 20 20 00 00 10 00 10 00 30 01'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 01 00 00 00 00 00 00 02 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 FF FF FF 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 01'
 '80 00 00 01 80 00 00 01 80 00 00 01 80 00 00 01'
 '80 00 00 01 80 00 00 01 80 00 02 01 80 40 06 01'
 '80 60 0F F1 8F F0 0F F1 8F F0 06 01 80 60 02 01'
 '80 40 00 01 80 00 00 01 80 00 00 01 80 00 00 01'
 '80 00 00 01 80 00 00 01 80 00 00 01 80 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FC 3F FF FF FC'
 '3F FF FF FC 3F FF FF FC 3F FF FF FC 3F FF FE FC'
 '3F 7F FC FC 3F 3F F8 FC 3F 1F F0 FC 3F 0F E0 04'
 '20 07 C0 04 20 03 C0 04 20 03 E0 04 20 07 F0 FC'
 '3F 0F F8 FC 3F 1F FC FC 3F 3F FE FC 3F 7F FF FC'
 '3F FF FF FC 3F FF FF FC 3F FF FF FC 3F FF FF FC'
 '3F FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF'
}


BMP_CHK3D BITMAP 
{
 '42 4D 46 01 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 1C 00 00 00 0D 00 00 00 01 00 04 00 00 00'
 '00 00 D0 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 8F FF FF FF FF FF F8 8F FF FF'
 'FF FF FF F8 00 00 70 88 88 88 88 88 F8 70 88 88'
 '88 88 88 F8 00 00 70 FF FF FF FF F8 F8 70 FF FF'
 'FF FF F8 F8 00 00 70 FF FF FF FF F8 F8 70 F0 0F'
 'FF 00 F8 F8 00 00 70 FF FF FF FF F8 F8 70 F0 00'
 'F0 00 F8 F8 00 00 70 FF FF FF FF F8 F8 70 FF 00'
 '00 0F F8 F8 00 00 70 FF FF FF FF F8 F8 70 FF F0'
 '00 FF F8 F8 00 00 70 FF FF FF FF F8 F8 70 FF 00'
 '00 0F F8 F8 00 00 70 FF FF FF FF F8 F8 70 F0 00'
 'F0 00 F8 F8 00 00 70 FF FF FF FF F8 F8 70 F0 0F'
 'FF 00 F8 F8 00 00 70 FF FF FF FF F8 F8 70 FF FF'
 'FF FF F8 F8 00 00 70 00 00 00 00 08 F8 70 00 00'
 '00 00 08 F8 00 00 77 77 77 77 77 77 88 77 77 77'
 '77 77 77 88 00 00'
}


BMP_CHK3D_95 BITMAP
{
 '42 4D 46 01 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 1C 00 00 00 0D 00 00 00 01 00 04 00 00 00'
 '00 00 D0 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 C0 C0 C0 00 80 80 80 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF F7 FF FF FF'
 'FF FF FF F7 00 00 87 77 77 77 77 77 F7 87 77 77'
 '77 77 77 F7 00 00 80 FF FF FF FF F7 F7 80 FF FF'
 'FF FF F7 F7 00 00 80 FF FF FF FF F7 F7 80 FF F0'
 'FF FF F7 F7 00 00 80 FF FF FF FF F7 F7 80 FF 00'
 '0F FF F7 F7 00 00 80 FF FF FF FF F7 F7 80 F0 00'
 '00 FF F7 F7 00 00 80 FF FF FF FF F7 F7 80 F0 0F'
 '00 0F F7 F7 00 00 80 FF FF FF FF F7 F7 80 F0 FF'
 'F0 00 F7 F7 00 00 80 FF FF FF FF F7 F7 80 FF FF'
 'FF 00 F7 F7 00 00 80 FF FF FF FF F7 F7 80 FF FF'
 'FF F0 F7 F7 00 00 80 FF FF FF FF F7 F7 80 FF FF'
 'FF FF F7 F7 00 00 80 00 00 00 00 07 F7 80 00 00'
 '00 00 07 F7 00 00 88 88 88 88 88 88 F7 88 88 88'
 '88 88 88 F7 00 00'
}

// American english
STRINGTABLE
{
 ENGLISH_STRINGS+1, "January"
 ENGLISH_STRINGS+2, "February"
 ENGLISH_STRINGS+3, "March"
 ENGLISH_STRINGS+4, "April"
 ENGLISH_STRINGS+5, "May"
 ENGLISH_STRINGS+6, "June"
 ENGLISH_STRINGS+7, "July"
 ENGLISH_STRINGS+8, "August"
 ENGLISH_STRINGS+9, "September"
 ENGLISH_STRINGS+10, "October"
 ENGLISH_STRINGS+11, "November"
 ENGLISH_STRINGS+12, "December"
 ENGLISH_STRINGS+13, "Jan"
 ENGLISH_STRINGS+14, "Feb"
 ENGLISH_STRINGS+15, "Mar"
 ENGLISH_STRINGS+16, "Apr"
 ENGLISH_STRINGS+17, "May"
 ENGLISH_STRINGS+18, "Jun"
 ENGLISH_STRINGS+19, "Jul"
 ENGLISH_STRINGS+20, "Aug"
 ENGLISH_STRINGS+21, "Sep"
 ENGLISH_STRINGS+22, "Oct"
 ENGLISH_STRINGS+23, "Nov"
 ENGLISH_STRINGS+24, "Dec"
 ENGLISH_STRINGS+25, "Monday"
 ENGLISH_STRINGS+26, "Tuesday"
 ENGLISH_STRINGS+27, "Wednesday"
 ENGLISH_STRINGS+28, "Thursday"
 ENGLISH_STRINGS+29, "Friday"
 ENGLISH_STRINGS+30, "Saturday"
 ENGLISH_STRINGS+31, "Sunday"
 ENGLISH_STRINGS+32, "Mon"
 ENGLISH_STRINGS+33, "Tue"
 ENGLISH_STRINGS+34, "Wed"
 ENGLISH_STRINGS+35, "Thu"
 ENGLISH_STRINGS+36, "Fri"
 ENGLISH_STRINGS+37, "Sat"
 ENGLISH_STRINGS+38, "Sun"
 ENGLISH_STRINGS+39, "dddd, mmmm ds, YYYY"
 ENGLISH_STRINGS+40, "MM/DD/YY"
 ENGLISH_STRINGS+41, "st"
 ENGLISH_STRINGS+42, "nd"
 ENGLISH_STRINGS+43, "rd"
 ENGLISH_STRINGS+44, "th"
 ENGLISH_STRINGS+45, "th"
 ENGLISH_STRINGS+46, "th"
 ENGLISH_STRINGS+47, "th"
 ENGLISH_STRINGS+48, "th"
 ENGLISH_STRINGS+49, "th"
 ENGLISH_STRINGS+50, "th"
 ENGLISH_STRINGS+51, "th"
 ENGLISH_STRINGS+52, "th"
 ENGLISH_STRINGS+53, "th"
 ENGLISH_STRINGS+54, "th"
 ENGLISH_STRINGS+55, "th"
 ENGLISH_STRINGS+56, "th"
 ENGLISH_STRINGS+57, "th"
 ENGLISH_STRINGS+58, "th"
 ENGLISH_STRINGS+59, "th"
 ENGLISH_STRINGS+60, "th"
 ENGLISH_STRINGS+61, "st"
 ENGLISH_STRINGS+62, "nd"
 ENGLISH_STRINGS+63, "rd"
 ENGLISH_STRINGS+64, "th"
 ENGLISH_STRINGS+65, "th"
 ENGLISH_STRINGS+66, "th"
 ENGLISH_STRINGS+67, "th"
 ENGLISH_STRINGS+68, "th"
 ENGLISH_STRINGS+69, "th"
 ENGLISH_STRINGS+70, "th"
 ENGLISH_STRINGS+71, "st"
 ENGLISH_STRINGS+72, "Date"
 ENGLISH_STRINGS+73, "You must type a date!"
 ENGLISH_STRINGS+74, "This date must be between %s and %s!"
 ENGLISH_STRINGS+75, "Incorrect date!"
 ENGLISH_STRINGS+76, "day"
 ENGLISH_STRINGS+77, "month"
 ENGLISH_STRINGS+78, "year"

 ENGLISH_STRINGS+79, "Time"
 ENGLISH_STRINGS+80, "This time must be between %s and %s!"
 ENGLISH_STRINGS+81, "Incorrect time!"

 ENGLISH_STRINGS+98, "Invalid range"
 ENGLISH_STRINGS+99, "Value must be between %s and %s"
}

// Dutch
STRINGTABLE
{
 DUTCH_STRINGS+1, "januari"
 DUTCH_STRINGS+2, "februari"
 DUTCH_STRINGS+3, "maart"
 DUTCH_STRINGS+4, "april"
 DUTCH_STRINGS+5, "mei"
 DUTCH_STRINGS+6, "juni"
 DUTCH_STRINGS+7, "juli"
 DUTCH_STRINGS+8, "augustus"
 DUTCH_STRINGS+9, "september"
 DUTCH_STRINGS+10, "oktober"
 DUTCH_STRINGS+11, "november"
 DUTCH_STRINGS+12, "december"
 DUTCH_STRINGS+13, "jan"
 DUTCH_STRINGS+14, "feb"
 DUTCH_STRINGS+15, "maa"
 DUTCH_STRINGS+16, "apr"
 DUTCH_STRINGS+17, "mei"
 DUTCH_STRINGS+18, "jun"
 DUTCH_STRINGS+19, "jul"
 DUTCH_STRINGS+20, "aug"
 DUTCH_STRINGS+21, "sep"
 DUTCH_STRINGS+22, "okt"
 DUTCH_STRINGS+23, "nov"
 DUTCH_STRINGS+24, "dec"
 DUTCH_STRINGS+25, "maandag"
 DUTCH_STRINGS+26, "dinsdag"
 DUTCH_STRINGS+27, "woensdag"
 DUTCH_STRINGS+28, "donderdag"
 DUTCH_STRINGS+29, "vrijdag"
 DUTCH_STRINGS+30, "zaterdag"
 DUTCH_STRINGS+31, "zondag"
 DUTCH_STRINGS+32, "maa"
 DUTCH_STRINGS+33, "din"
 DUTCH_STRINGS+34, "woe"
 DUTCH_STRINGS+35, "don"
 DUTCH_STRINGS+36, "vri"
 DUTCH_STRINGS+37, "zat"
 DUTCH_STRINGS+38, "zon"
 DUTCH_STRINGS+39, "dddd, d mmmm YYYY"
 DUTCH_STRINGS+40, "DD/MM/YY"
 DUTCH_STRINGS+72, "Datum"
 DUTCH_STRINGS+73, "U moet een datum ingeven!"
 DUTCH_STRINGS+74, "Dit datum moet tussen %s en %s zijn!"
 DUTCH_STRINGS+75, "Incorrect datum!"
 DUTCH_STRINGS+76, "dag"
 DUTCH_STRINGS+77, "maand"
 DUTCH_STRINGS+78, "jaar"

 DUTCH_STRINGS+79, "Tijd"
 DUTCH_STRINGS+80, "Dit tijd moet tussen %s en %s zijn!"
 DUTCH_STRINGS+81, "Incorrect tijd!"

 DUTCH_STRINGS+98, "Incorrect nummer"
 DUTCH_STRINGS+99, "Dit nummer moet tussen %s and %s zijn!"
 }

// French
STRINGTABLE
{
 FRENCH_STRINGS+1, "janvier"
 FRENCH_STRINGS+2, "février"
 FRENCH_STRINGS+3, "mars"
 FRENCH_STRINGS+4, "avril"
 FRENCH_STRINGS+5, "mai"
 FRENCH_STRINGS+6, "juin"
 FRENCH_STRINGS+7, "juillet"
 FRENCH_STRINGS+8, "août"
 FRENCH_STRINGS+9, "septembre"
 FRENCH_STRINGS+10, "octobre"
 FRENCH_STRINGS+11, "novembre"
 FRENCH_STRINGS+12, "décembre"
 FRENCH_STRINGS+13, "jan"
 FRENCH_STRINGS+14, "fév"
 FRENCH_STRINGS+15, "mar"
 FRENCH_STRINGS+16, "avr"
 FRENCH_STRINGS+17, "mai"
 FRENCH_STRINGS+18, "jun"
 FRENCH_STRINGS+19, "jul"
 FRENCH_STRINGS+20, "aoû"
 FRENCH_STRINGS+21, "sep"
 FRENCH_STRINGS+22, "oct"
 FRENCH_STRINGS+23, "nov"
 FRENCH_STRINGS+24, "déc"
 FRENCH_STRINGS+25, "lundi"
 FRENCH_STRINGS+26, "mardi"
 FRENCH_STRINGS+27, "mercredi"
 FRENCH_STRINGS+28, "jeudi"
 FRENCH_STRINGS+29, "vendredi"
 FRENCH_STRINGS+30, "samedi"
 FRENCH_STRINGS+31, "dimanche"
 FRENCH_STRINGS+32, "lun"
 FRENCH_STRINGS+33, "mar"
 FRENCH_STRINGS+34, "mer"
 FRENCH_STRINGS+35, "jeu"
 FRENCH_STRINGS+36, "ven"
 FRENCH_STRINGS+37, "sam"
 FRENCH_STRINGS+38, "dim"
 FRENCH_STRINGS+39, "dddd ds mmmm YYYY"
 FRENCH_STRINGS+40, "DD/MM/YY"
 FRENCH_STRINGS+41, "er"
 FRENCH_STRINGS+72, "Date"
 FRENCH_STRINGS+73, "Vous devez indiquer une date!"
 FRENCH_STRINGS+74, "Cette date doit être comprise entre le %s et le %s!"
 FRENCH_STRINGS+75, "Date incorrecte!"
 FRENCH_STRINGS+76, "jour"
 FRENCH_STRINGS+77, "mois"
 FRENCH_STRINGS+78, "année"

 FRENCH_STRINGS+79, "Temps"
 FRENCH_STRINGS+80, "Ce temps doit être compris entre le %s et le %s!"
 FRENCH_STRINGS+81, "Temps incorrect!"

 FRENCH_STRINGS+98, "Nombre hors limites"
 FRENCH_STRINGS+99, "Cette valeur doit se situer entre %s et %s"

}

// German
STRINGTABLE
{
 GERMAN_STRINGS +1, "Januar"
 GERMAN_STRINGS +2, "Februar"
 GERMAN_STRINGS +3, "März"
 GERMAN_STRINGS +4, "April"
 GERMAN_STRINGS +5, "Mai"
 GERMAN_STRINGS +6, "Juni"
 GERMAN_STRINGS +7, "Juli"
 GERMAN_STRINGS +8, "August"
 GERMAN_STRINGS +9, "September"
 GERMAN_STRINGS +10, "Oktober"
 GERMAN_STRINGS +11, "November"
 GERMAN_STRINGS +12, "Dezember"
 GERMAN_STRINGS +13, "Jan"
 GERMAN_STRINGS +14, "Feb"
 GERMAN_STRINGS +15, "Mär"
 GERMAN_STRINGS +16, "Apr"
 GERMAN_STRINGS +17, "Mai"
 GERMAN_STRINGS +18, "Jun"
 GERMAN_STRINGS +19, "Jul"
 GERMAN_STRINGS +20, "Aug"
 GERMAN_STRINGS +21, "Sep"
 GERMAN_STRINGS +22, "Okt"
 GERMAN_STRINGS +23, "Nov"
 GERMAN_STRINGS +24, "Dez"
 GERMAN_STRINGS +25, "Montag"
 GERMAN_STRINGS +26, "Dienstag"
 GERMAN_STRINGS +27, "Mittwoch"
 GERMAN_STRINGS +28, "Donnerstag"
 GERMAN_STRINGS +29, "Freitag"
 GERMAN_STRINGS +30, "Samstag"
 GERMAN_STRINGS +31, "Sonntag"
 GERMAN_STRINGS +32, "Mon"
 GERMAN_STRINGS +33, "Die"
 GERMAN_STRINGS +34, "Mit"
 GERMAN_STRINGS +35, "Don"
 GERMAN_STRINGS +36, "Fre"
 GERMAN_STRINGS +37, "Sam"
 GERMAN_STRINGS +38, "Son"
 GERMAN_STRINGS +39, "dddd, 'den' ds Mmmm YYYY"
 GERMAN_STRINGS +40, "DD.MM.YY"
 GERMAN_STRINGS +41, "."
 GERMAN_STRINGS +42, "."
 GERMAN_STRINGS +43, "."
 GERMAN_STRINGS +44, "."
 GERMAN_STRINGS +45, "."
 GERMAN_STRINGS +46, "."
 GERMAN_STRINGS +47, "."
 GERMAN_STRINGS +48, "."
 GERMAN_STRINGS +49, "."
 GERMAN_STRINGS +50, "."
 GERMAN_STRINGS +51, "."
 GERMAN_STRINGS +52, "."
 GERMAN_STRINGS +53, "."
 GERMAN_STRINGS +54, "."
 GERMAN_STRINGS +55, "."
 GERMAN_STRINGS +56, "."
 GERMAN_STRINGS +57, "."
 GERMAN_STRINGS +58, "."
 GERMAN_STRINGS +59, "."
 GERMAN_STRINGS +60, "."
 GERMAN_STRINGS +61, "."
 GERMAN_STRINGS +62, "."
 GERMAN_STRINGS +63, "."
 GERMAN_STRINGS +64, "."
 GERMAN_STRINGS +65, "."
 GERMAN_STRINGS +66, "."
 GERMAN_STRINGS +67, "."
 GERMAN_STRINGS +68, "."
 GERMAN_STRINGS +69, "."
 GERMAN_STRINGS +70, "."
 GERMAN_STRINGS +71, "."
 GERMAN_STRINGS +72, "Datum"
 GERMAN_STRINGS +73, "Sie müssen ein Datum eingeben!"
 GERMAN_STRINGS +74, "Das Datum muß zwischen dem %s und dem %s liegen"
 GERMAN_STRINGS +75, "Unzulässiges Datum"
 GERMAN_STRINGS +76, "Tag"
 GERMAN_STRINGS +77, "Monat"
 GERMAN_STRINGS +78, "Jahr"

 GERMAN_STRINGS +79, "Zeit"
 GERMAN_STRINGS +80, "Zeit muß zwischen %s und %s liegen"
 GERMAN_STRINGS +81, "Unzulässige Zeit"

 GERMAN_STRINGS +98, "Unzulässige Nummer"
 GERMAN_STRINGS +99, "Nummer muß zwischen %s und %s liegen!"
}

// Italian
STRINGTABLE
{
 ITALIAN_STRINGS+1, "gennaio"
 ITALIAN_STRINGS+2, "febbraio"
 ITALIAN_STRINGS+3, "marzo"
 ITALIAN_STRINGS+4, "aprile"
 ITALIAN_STRINGS+5, "maggio"
 ITALIAN_STRINGS+6, "giugno"
 ITALIAN_STRINGS+7, "luglio"
 ITALIAN_STRINGS+8, "agosto"
 ITALIAN_STRINGS+9, "settembre"
 ITALIAN_STRINGS+10, "ottobre"
 ITALIAN_STRINGS+11, "novembre"
 ITALIAN_STRINGS+12, "dicembre"
 ITALIAN_STRINGS+13, "gen"
 ITALIAN_STRINGS+14, "feb"
 ITALIAN_STRINGS+15, "mar"
 ITALIAN_STRINGS+16, "apr"
 ITALIAN_STRINGS+17, "mag"
 ITALIAN_STRINGS+18, "giu"
 ITALIAN_STRINGS+19, "lug"
 ITALIAN_STRINGS+20, "ago"
 ITALIAN_STRINGS+21, "set"
 ITALIAN_STRINGS+22, "ott"
 ITALIAN_STRINGS+23, "nov"
 ITALIAN_STRINGS+24, "dic"
 ITALIAN_STRINGS+25, "lunedì"
 ITALIAN_STRINGS+26, "martedì"
 ITALIAN_STRINGS+27, "mercoledì"
 ITALIAN_STRINGS+28, "giovedì"
 ITALIAN_STRINGS+29, "venerdì"
 ITALIAN_STRINGS+30, "sabato"
 ITALIAN_STRINGS+31, "domenica"
 ITALIAN_STRINGS+32, "lun"
 ITALIAN_STRINGS+33, "mar"
 ITALIAN_STRINGS+34, "mer"
 ITALIAN_STRINGS+35, "gio"
 ITALIAN_STRINGS+36, "ven"
 ITALIAN_STRINGS+37, "sab"
 ITALIAN_STRINGS+38, "dom"
 ITALIAN_STRINGS+39, "dddd, ds mmmm YYYY"
 ITALIAN_STRINGS+40, "DD-MM-YY"
 ITALIAN_STRINGS+41, "º"
 ITALIAN_STRINGS+72, "Data"
 ITALIAN_STRINGS+73, "Dovete inscrivere una data!"
 ITALIAN_STRINGS+74, "La data è compresa trà %s e %s!"
 ITALIAN_STRINGS+75, "Data sbagliata!"
 ITALIAN_STRINGS+76, "giorno"
 ITALIAN_STRINGS+77, "mese"
 ITALIAN_STRINGS+78, "annata"

 ITALIAN_STRINGS+79, "Dovete inscrivere una hora!"
 ITALIAN_STRINGS+80, "La hora è compresa trà %s e %s!"
 ITALIAN_STRINGS+81, "Hora sbagliata!"

 ITALIAN_STRINGS+98, "Numero sbagliato!"
 ITALIAN_STRINGS+99, "Il numero è compreso trà %s e %s!"
}

// Portuguese
STRINGTABLE
{
 PORTUGUESE_STRINGS+1, "Janeiro"
 PORTUGUESE_STRINGS+2, "Fevereiro"
 PORTUGUESE_STRINGS+3, "Março"
 PORTUGUESE_STRINGS+4, "Abril"
 PORTUGUESE_STRINGS+5, "Maio"
 PORTUGUESE_STRINGS+6, "Junho"
 PORTUGUESE_STRINGS+7, "Julho"
 PORTUGUESE_STRINGS+8, "Agôsto"
 PORTUGUESE_STRINGS+9, "Setembro"
 PORTUGUESE_STRINGS+10, "Outubro"
 PORTUGUESE_STRINGS+11, "Novembro"
 PORTUGUESE_STRINGS+12, "Dezembro"
 PORTUGUESE_STRINGS+13, "Jan"
 PORTUGUESE_STRINGS+14, "Fev"
 PORTUGUESE_STRINGS+15, "Mar"
 PORTUGUESE_STRINGS+16, "Abr"
 PORTUGUESE_STRINGS+17, "Mai"
 PORTUGUESE_STRINGS+18, "Jun"
 PORTUGUESE_STRINGS+19, "Jul"
 PORTUGUESE_STRINGS+20, "Agô"
 PORTUGUESE_STRINGS+21, "Set"
 PORTUGUESE_STRINGS+22, "Out"
 PORTUGUESE_STRINGS+23, "Nov"
 PORTUGUESE_STRINGS+24, "Dez"
 PORTUGUESE_STRINGS+25, "segunda-feira"
 PORTUGUESE_STRINGS+26, "terça-feira"
 PORTUGUESE_STRINGS+27, "quarta-feira"
 PORTUGUESE_STRINGS+28, "quinta-feira"
 PORTUGUESE_STRINGS+29, "sexta-feira"
 PORTUGUESE_STRINGS+30, "sabado"
 PORTUGUESE_STRINGS+31, "domingo"
 PORTUGUESE_STRINGS+32, "seg"
 PORTUGUESE_STRINGS+33, "ter"
 PORTUGUESE_STRINGS+34, "qua"
 PORTUGUESE_STRINGS+35, "qui"
 PORTUGUESE_STRINGS+36, "sex"
 PORTUGUESE_STRINGS+37, "sab"
 PORTUGUESE_STRINGS+38, "dom"
 PORTUGUESE_STRINGS+39, "dddd, ds 'de' Mmmm YYYY"
 PORTUGUESE_STRINGS+40, "DD-MM-YY"
 PORTUGUESE_STRINGS+41, "º"
 PORTUGUESE_STRINGS+72, "Date"
 PORTUGUESE_STRINGS+73, "Vous devez taper une date!"
 PORTUGUESE_STRINGS+74, "La date doit être entre %s et %s!"
 PORTUGUESE_STRINGS+75, "Date incorrecte!"
 PORTUGUESE_STRINGS+76, "jour"
 PORTUGUESE_STRINGS+77, "mois"
 PORTUGUESE_STRINGS+78, "année"

 PORTUGUESE_STRINGS+79, "Date"
 PORTUGUESE_STRINGS+80, "La date doit être entre %s et %s!"
 PORTUGUESE_STRINGS+81, "Date incorrecte!"

 PORTUGUESE_STRINGS+98, "Nombre incorrect"
 PORTUGUESE_STRINGS+99, "La valeur doit être entre %s et %s !"
}

// Spanish
STRINGTABLE
{
 SPANISH_STRINGS+1, "Enero"
 SPANISH_STRINGS+2, "Febrero"
 SPANISH_STRINGS+3, "Marzo"
 SPANISH_STRINGS+4, "Abril"
 SPANISH_STRINGS+5, "Mayo"
 SPANISH_STRINGS+6, "Junio"
 SPANISH_STRINGS+7, "Julio"
 SPANISH_STRINGS+8, "Agosto"
 SPANISH_STRINGS+9, "Septiembre"
 SPANISH_STRINGS+10, "Octubre"
 SPANISH_STRINGS+11, "Noviembre"
 SPANISH_STRINGS+12, "Diciembre"
 SPANISH_STRINGS+13, "Ene"
 SPANISH_STRINGS+14, "Feb"
 SPANISH_STRINGS+15, "Mar"
 SPANISH_STRINGS+16, "Abr"
 SPANISH_STRINGS+17, "May"
 SPANISH_STRINGS+18, "Jun"
 SPANISH_STRINGS+19, "Jul"
 SPANISH_STRINGS+20, "Ago"
 SPANISH_STRINGS+21, "Sep"
 SPANISH_STRINGS+22, "Oct"
 SPANISH_STRINGS+23, "Nov"
 SPANISH_STRINGS+24, "Dic"
 SPANISH_STRINGS+25, "lunes"
 SPANISH_STRINGS+26, "martes"
 SPANISH_STRINGS+27, "miércoles"
 SPANISH_STRINGS+28, "jueves"
 SPANISH_STRINGS+29, "viernes"
 SPANISH_STRINGS+30, "sábado"
 SPANISH_STRINGS+31, "domingo"
 SPANISH_STRINGS+32, "lun"
 SPANISH_STRINGS+33, "mar"
 SPANISH_STRINGS+34, "mié"
 SPANISH_STRINGS+35, "jue"
 SPANISH_STRINGS+36, "vie"
 SPANISH_STRINGS+37, "sáb"
 SPANISH_STRINGS+38, "dom"
 SPANISH_STRINGS+39, "dddd, el ds 'de' Mmmm YYYY"
 SPANISH_STRINGS+40, "DD-MM-YY"
 SPANISH_STRINGS+41, "º"
 SPANISH_STRINGS+72, "Día"
 SPANISH_STRINGS+73, "¡ Debe introducir una fecha !"
 SPANISH_STRINGS+74, "¡ La fecha debe estar entre el %s y el %s !"
 SPANISH_STRINGS+75, "¡ Fecha incorrecta !"
 SPANISH_STRINGS+76, "día"
 SPANISH_STRINGS+77, "mes"
 SPANISH_STRINGS+78, "año"

 SPANISH_STRINGS+79, "Tiempo"
 SPANISH_STRINGS+80, "¡ El tiempo debe estar entre %s y %s !"
 SPANISH_STRINGS+81, "¡ Tiempo incorrecto !"

 SPANISH_STRINGS+98, "¡ Número incorrecto !"
 SPANISH_STRINGS+99, "¡ El numero debe estar entre %s y %s!"
}




